// Reviews Section Styles
.reviews {
  padding-top: 120px;

  @media (max-width: 1440px) {
    padding-top: calc(70px + 50 * (100vw - 320px) / 1120);
  }

  &__header {
    text-align: center;
    margin-bottom: 60px;

    @media (max-width: 1440px) {
      margin-bottom: calc(40px + 20 * (100vw - 320px) / 1120);
    }
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__slide.swiper-slide {
    height: auto;
    align-self: stretch;
  }

  &__card {
    padding: 40px;
    background: #fff;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 1440px) {
      padding: calc(15px + 25 * (100vw - 320px) / 1120);
      border-radius: calc(10px + 18 * (100vw - 320px) / 1120);
    }
  }

  &__rating {
    margin-bottom: 24px;

    img {
      height: 1.6875rem; // 27px
      width: auto;
    }

    @media (max-width: 1440px) {
      margin-bottom: calc(20px + 4 * (100vw - 320px) / 1120);
    }
  }

  &__text {
    flex: 1 1 auto;
    margin-bottom: 0.75rem;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__avatar {
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 3.875rem;
      height: 3.875rem;
      object-fit: cover;
      object-position: center;
    }
  }

  &__details {
    font-size: 18px;

    @media (max-width: 1440px) {
      font-size: calc(16px + 2 * (100vw - 320px) / 1120);
    }
  }

  &__name {
    line-height: 150%;
    color: #000;
  }

  &__data {
    color: #737373;

    &-alt {
      .reviews__position,
      .reviews__location {
        display: inline-block;
      }
    }
  }

  &__video {
    border-radius: 28px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    position: relative;

    @media (max-width: 1440px) {
      border-radius: calc(10px + 18 * (100vw - 320px) / 1120);
    }

    video,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // Plyr custom controls
    .plyr__controls__item.plyr__control {
      background: url(../img/main/play-icon.svg) center/2.625rem 2.625rem no-repeat;
      height: 2.625rem;
      width: 2.625rem;
    }

    .plyr__controls__item.plyr__control.plyr__control--pressed {
      background: url(../img/main/pause-icon.svg) center/2.625rem 2.625rem no-repeat;
    }

    .plyr__controls__item.plyr__control svg {
      display: none;
    }

    .plyr__controls {
      padding-bottom: 1.5rem;
      padding-inline: 1.3125rem;
    }

    .plyr__controls .plyr__controls__item.plyr__time {
      padding: 0.625rem 1.4375rem;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 1.875rem;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #fff;
      line-height: 150%;

      @media (max-width: 1440px) {
        font-size: calc(16px + 2 * (100vw - 320px) / 1120);
      }
    }
  }
}